header, section {
    margin: 20px 5px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

header {
    background-color: aqua;
}

button {
    margin-left: 95%;
    margin-top: 5px;
}

.btn-info {
    margin-left: 0;
}

.habilidad-bar1 {
    border: 1px solid black;
    width: 60%;
    height: 15px;
    margin: auto;
}

.porcentaje-bar1 {
    background-color: rgb(0, 200, 0);
    width: 75%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habilidad-bar2 {
    border: 1px solid black;
    width: 60%;
    height: 15px;
    margin: auto;
}

.porcentaje-bar2 {
    background-color: rgb(0, 200, 0);
    width: 40%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habilidad-bar3 {
    border: 1px solid black;
    width: 60%;
    height: 15px;
    margin: auto;
}

.porcentaje-bar3 {
    background-color: rgb(0, 200, 0);
    width: 90%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}