<div class="card m-3 bg-primary text-white border">
    <div class="card-body d-flex justify-content-between">
        <h2 class="card-title">PROYECTOS</h2>
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-plus-square"></i></button> <!-- Botón para añadir un proyecto -->
    </div>
    <div class="card-body d-flex">
        <h4 class="card-title flex-fill">PROYECTO 1</h4>
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-pencil-square"></i></button> <!-- Botón para editar un proyecto -->
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-x-square"></i></button> <!-- Botón para eliminar un proyecto -->
    </div>
    <div class="card-body">
        <p class="card-text">ACÁ VA LA INFORMACIÓN DEL PROYECTO</p>
    </div>
    <div class="card-body d-flex">
        <h4 class="card-title flex-fill">PROYECTO 2</h4>
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-pencil-square"></i></button> <!-- Botón para editar un proyecto -->
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-x-square"></i></button> <!-- Botón para eliminar un proyecto -->
    </div>
    <div class="card-body">
        <p class="card-text">ACÁ VA LA INFORMACIÓN DEL PROYECTO</p>
    </div>
</div>