<div class="card m-3 bg-primary text-white border">
    <img [src]="myHeader.backgroundImage" alt="fondo de portada" class="d-flex img-fluid border-bottom border-white border-2"> <!-- Acá va la imagen de portada -->
    <div class="card-body d-flex flex-row">
        <img [src]="myHeader.personPhoto" alt="foto de perfil" class="person-photo border border-4 border-dark rounded-circle"> <!-- Acá va la imagen de la persona -->
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-end "><i class="bi bi-pencil-square"></i></button> <!-- Botón para editar la foto -->
    </div>
    <div class="card-body">
        <h2 class="card-title">{{myHeader.name}} {{myHeader.surname}}</h2>
        <h4 class="card-title">{{myHeader.title}} - {{myHeader.job}}</h4>
        <h6 class="card-title">INFORMACIÓN DE CONTACTO</h6>
        <p class="card-text">{{myHeader.info}}</p>
        <button class="btn btn-light btn-sm align-self-center">TENGO INTERÉS EN</button>
        <button class="btn btn-light btn-sm align-self-center ms-2">AÑADIR SECCIÓN</button>
        <button class="btn btn-light btn-sm align-self-center ms-2">MÁS</button>
        <button type="button" class="btn btn-warning btn-sm align-self-center float-sm-end"><i class="bi bi-pencil-square"></i></button> <!-- Botón para editar esta sección -->
    </div>
</div>
