<div class="card m-3 pb-2 bg-primary text-white border">
    <div class="card-body d-flex justify-content-between">
        <h2 class="card-title">HABILIDADES</h2>
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-plus-square"></i></button> <!-- Botón para añadir una habilidad -->
    </div>
    <div class="card-body d-flex">
        <h4 class="card-title flex-fill">HABILIDAD 1</h4>
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-pencil-square"></i></button> <!-- Botón para editar la habilidad -->
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-x-square"></i></button> <!-- Botón para eliminar la habilidad -->
    </div>
    <div class="progress m-auto w-50" role="progressbar" aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning w-50 text-dark fs-6">50%</div>
    </div>
    <div class="card-body d-flex">
        <h4 class="card-title flex-fill">HABILIDAD 2</h4>
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-pencil-square"></i></button> <!-- Botón para editar la habilidad -->
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-x-square"></i></button> <!-- Botón para eliminar la habilidad -->
    </div>
    <div class="progress m-auto w-50" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning w-100 text-dark fs-6">100%</div>
    </div>
</div>