<div class="card m-3 bg-primary text-white border">
    <div class="card-body d-flex justify-content-between">
        <h2 class="card-title">EDUCACIÓN</h2>
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-plus-square"></i></button> <!-- Botón para añadir una educación -->
    </div>
    <div class="card-body d-flex">
        <h4 class="card-title flex-fill">EDUCACIÓN 1</h4>
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-pencil-square"></i></button> <!-- Botón para editar la educación -->
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-x-square"></i></button> <!-- Botón para eliminar la educación -->
    </div>
    <div class="card-body">
        <p class="card-text">TÍTULO</p>
        <p class="card-text">AÑOS</p>
        <p class="card-text">LUGAR</p>
    </div>
    <div class="card-body d-flex">
        <h4 class="card-title flex-fill">EDUCACIÓN 2</h4>
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-pencil-square"></i></button> <!-- Botón para editar la educación -->
        <button type="button" class="ms-2 btn btn-warning btn-sm align-self-center"><i class="bi bi-x-square"></i></button> <!-- Botón para eliminar la educación -->
    </div>
    <div class="card-body">
        <p class="card-text">TÍTULO</p>
        <p class="card-text">AÑOS</p>
        <p class="card-text">LUGAR</p>
    </div>
</div>